@{
    Layout = "_PublicLayout";
}

<div class="posts-container">
    <div>
        <div class="heading">
            <h3>I like turtles</h3>
            <span class="added-on-by">On February the 5th, 2020, by Kardo</span>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut magna augue. Integer et orci erat. Maecenas nec venenatis ante, venenatis dignissim mauris. Praesent facilisis faucibus enim in venenatis. Nulla imperdiet lorem ut justo tincidunt, sed scelerisque justo dapibus. Aenean lobortis tortor mauris, et dapibus quam feugiat quis. Vivamus vel libero at elit vestibulum pulvinar vel id lorem. Aliquam dictum, augue ut sollicitudin fringilla, urna ligula porta lectus, eget varius lectus eros sit amet neque. In hac habitasse platea dictumst. Donec ultrices aliquam eleifend. Phasellus sit amet nibh odio. Suspendisse facilisis lorem risus, vel tincidunt nisi pretium in. Aenean faucibus eros nec rutrum maximus. Nullam arcu elit, varius nec arcu non, finibus varius nibh. Sed odio felis, tincidunt in porttitor ac, tincidunt vel velit. Suspendisse consequat ante nisl, in maximus ex consequat vitae.</p>

            <p>Praesent ornare egestas augue, eu convallis mauris semper vitae. Quisque feugiat nibh sit amet tortor venenatis auctor. Ut vulputate diam ut tellus molestie suscipit. Proin bibendum massa eget scelerisque ornare. Mauris arcu libero, imperdiet et aliquet a, tincidunt quis ligula. Donec elementum mi finibus, malesuada enim nec, tincidunt arcu. Fusce maximus in mi et interdum. Maecenas ullamcorper sapien aliquam nisi tincidunt tincidunt. Cras in malesuada massa, vel consectetur quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <h4>Heading</h4>

            <p>Vivamus nec dapibus eros. Curabitur lorem diam, tempus et aliquam vitae, vulputate sed dolor. Vivamus vel quam et mi efficitur blandit. Proin euismod sit amet sapien vitae placerat. Nullam lobortis et dui et accumsan. Aenean tempus eget lacus ut rutrum. Mauris luctus id ligula quis hendrerit. Praesent luctus tristique aliquet.</p>

            <p><a href="javascript:void(0)">Link</a> Donec eu vestibulum purus. Morbi cursus rutrum tincidunt. Nam venenatis ornare sem quis tempor. Proin iaculis accumsan nisl. Nam tristique commodo quam eget lobortis. Nunc pretium erat vitae lorem maximus, egestas ultrices libero rhoncus. In tincidunt commodo ex sed maximus.</p>

            <p>Ut fringilla porta ante, eu congue est euismod quis. Quisque a risus diam. Sed tempus lacus a augue egestas finibus. Nullam efficitur sodales nulla sit amet efficitur. Curabitur eu nisl aliquam, fermentum nibh nec, mollis eros. Aenean accumsan orci ac ultricies ornare. Aenean non ullamcorper metus. Vivamus consectetur, turpis a vehicula lacinia, lorem tortor mattis turpis, eu malesuada dolor enim a nisi. Etiam luctus auctor consectetur.</p>
        </div>
    </div>

    <div>
        <div class="heading">
            <h3>Driving for fun is fun</h3>
            <span class="added-on-by">On January the 18th, 2020, by Kardo</span>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut magna augue. Integer et orci erat. Maecenas nec venenatis ante, venenatis dignissim mauris. Praesent facilisis faucibus enim in venenatis. Nulla imperdiet lorem ut justo tincidunt, sed scelerisque justo dapibus. Aenean lobortis tortor mauris, et dapibus quam feugiat quis. Vivamus vel libero at elit vestibulum pulvinar vel id lorem. Aliquam dictum, augue ut sollicitudin fringilla, urna ligula porta lectus, eget varius lectus eros sit amet neque. In hac habitasse platea dictumst. Donec ultrices aliquam eleifend. Phasellus sit amet nibh odio. Suspendisse facilisis lorem risus, vel tincidunt nisi pretium in. Aenean faucibus eros nec rutrum maximus. Nullam arcu elit, varius nec arcu non, finibus varius nibh. Sed odio felis, tincidunt in porttitor ac, tincidunt vel velit. Suspendisse consequat ante nisl, in maximus ex consequat vitae.</p>

            <p>Praesent ornare egestas augue, eu convallis mauris semper vitae. Quisque feugiat nibh sit amet tortor venenatis auctor. Ut vulputate diam ut tellus molestie suscipit. Proin bibendum massa eget scelerisque ornare. Mauris arcu libero, imperdiet et aliquet a, tincidunt quis ligula. Donec elementum mi finibus, malesuada enim nec, tincidunt arcu. Fusce maximus in mi et interdum. Maecenas ullamcorper sapien aliquam nisi tincidunt tincidunt. Cras in malesuada massa, vel consectetur quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <p>Vivamus nec dapibus eros. Curabitur lorem diam, tempus et aliquam vitae, vulputate sed dolor. Vivamus vel quam et mi efficitur blandit. Proin euismod sit amet sapien vitae placerat. Nullam lobortis et dui et accumsan. Aenean tempus eget lacus ut rutrum. Mauris luctus id ligula quis hendrerit. Praesent luctus tristique aliquet.</p>
        </div>
    </div>

    <div>
        <div class="heading">
            <h3>People are buying too many useless things</h3>
            <span class="added-on-by">On January the 1st, 2020, by Kardo</span>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut magna augue. Integer et orci erat. Maecenas nec venenatis ante, venenatis dignissim mauris. Praesent facilisis faucibus enim in venenatis. Nulla imperdiet lorem ut justo tincidunt, sed scelerisque justo dapibus. Aenean lobortis tortor mauris, et dapibus quam feugiat quis. Vivamus vel libero at elit vestibulum pulvinar vel id lorem. Aliquam dictum, augue ut sollicitudin fringilla, urna ligula porta lectus, eget varius lectus eros sit amet neque. In hac habitasse platea dictumst. Donec ultrices aliquam eleifend. Phasellus sit amet nibh odio. Suspendisse facilisis lorem risus, vel tincidunt nisi pretium in. Aenean faucibus eros nec rutrum maximus. Nullam arcu elit, varius nec arcu non, finibus varius nibh. Sed odio felis, tincidunt in porttitor ac, tincidunt vel velit. Suspendisse consequat ante nisl, in maximus ex consequat vitae.</p>

            <p>Praesent ornare egestas augue, eu convallis mauris semper vitae. Quisque feugiat nibh sit amet tortor venenatis auctor. Ut vulputate diam ut tellus molestie suscipit. Proin bibendum massa eget scelerisque ornare. Mauris arcu libero, imperdiet et aliquet a, tincidunt quis ligula. Donec elementum mi finibus, malesuada enim nec, tincidunt arcu. Fusce maximus in mi et interdum. Maecenas ullamcorper sapien aliquam nisi tincidunt tincidunt. Cras in malesuada massa, vel consectetur quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <p>Vivamus nec dapibus eros. Curabitur lorem diam, tempus et aliquam vitae, vulputate sed dolor. Vivamus vel quam et mi efficitur blandit. Proin euismod sit amet sapien vitae placerat. Nullam lobortis et dui et accumsan. Aenean tempus eget lacus ut rutrum. Mauris luctus id ligula quis hendrerit. Praesent luctus tristique aliquet.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut magna augue. Integer et orci erat. Maecenas nec venenatis ante, venenatis dignissim mauris. Praesent facilisis faucibus enim in venenatis. Nulla imperdiet lorem ut justo tincidunt, sed scelerisque justo dapibus. Aenean lobortis tortor mauris, et dapibus quam feugiat quis. Vivamus vel libero at elit vestibulum pulvinar vel id lorem. Aliquam dictum, augue ut sollicitudin fringilla, urna ligula porta lectus, eget varius lectus eros sit amet neque. In hac habitasse platea dictumst. Donec ultrices aliquam eleifend. Phasellus sit amet nibh odio. Suspendisse facilisis lorem risus, vel tincidunt nisi pretium in. Aenean faucibus eros nec rutrum maximus. Nullam arcu elit, varius nec arcu non, finibus varius nibh. Sed odio felis, tincidunt in porttitor ac, tincidunt vel velit. Suspendisse consequat ante nisl, in maximus ex consequat vitae.</p>

            <p>Praesent ornare egestas augue, eu convallis mauris semper vitae. Quisque feugiat nibh sit amet tortor venenatis auctor. Ut vulputate diam ut tellus molestie suscipit. Proin bibendum massa eget scelerisque ornare. Mauris arcu libero, imperdiet et aliquet a, tincidunt quis ligula. Donec elementum mi finibus, malesuada enim nec, tincidunt arcu. Fusce maximus in mi et interdum. Maecenas ullamcorper sapien aliquam nisi tincidunt tincidunt. Cras in malesuada massa, vel consectetur quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <p>Vivamus nec dapibus eros. Curabitur lorem diam, tempus et aliquam vitae, vulputate sed dolor. Vivamus vel quam et mi efficitur blandit. Proin euismod sit amet sapien vitae placerat. Nullam lobortis et dui et accumsan. Aenean tempus eget lacus ut rutrum. Mauris luctus id ligula quis hendrerit. Praesent luctus tristique aliquet.</p>

            <p>Donec eu vestibulum purus. Morbi cursus rutrum tincidunt. Nam venenatis ornare sem quis tempor. Proin iaculis accumsan nisl. Nam tristique commodo quam eget lobortis. Nunc pretium erat vitae lorem maximus, egestas ultrices libero rhoncus. In tincidunt commodo ex sed maximus.</p>

            <p>Ut fringilla porta ante, eu congue est euismod quis. Quisque a risus diam. Sed tempus lacus a augue egestas finibus. Nullam efficitur sodales nulla sit amet efficitur. Curabitur eu nisl aliquam, fermentum nibh nec, mollis eros. Aenean accumsan orci ac ultricies ornare. Aenean non ullamcorper metus. Vivamus consectetur, turpis a vehicula lacinia, lorem tortor mattis turpis, eu malesuada dolor enim a nisi. Etiam luctus auctor consectetur.</p>
        </div>
    </div>
</div>

<div class="show-older"><a href="javascript:void(0)">Show older posts</a></div>
